/* Test */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Personal style */
:root {
  background-color: #0A0C1F;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
  border-radius: 15px;
  display: grid;
}

h1 {
  font-size: 3rem;
}

h3, #tribute-info h3 {
  font-size: 2rem;
}

#tribute-info h3 {
  text-align: left;
}

#bottom {
  text-align: center;
  margin: 0% 3% 2% 3%;
}

section * {
  font-size: 1.2rem;
  padding: 0% 3% 3% 3%;
}

#headline {
  margin: 0;
}


#tribute-info li {
  list-style: none;
  text-align: justify;
  line-height: 1.5em;
}

.top p, #tribute-info blockquote, figcaption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

.top {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#img-div {
  background-color: ;
  align-items: end;
  display: flex;
  flex-flow: column;
  align-items: center;
}

img {
  border: solid #0A0C1F;
}

#img-caption {
  padding-top: 2%;
  color: #0A0C1F;
  font-weight: bold;
}

a, a:visited {
  color: #0A0C1F;
  opacity: 0.8;
}

strong, a {
  margin: 0px;
  padding: 0px;
}

@media (max-width: 700px){
  body {
    grid-template-columns: auto;
  }
}

@media (min-width: 701px){
  body {
    margin: 2% 10%;
}
  
body * {
  grid-column: 2/3;
}
  
  img {
    width: 60%;
  }
  
  section {
    padding-top: 2%;
  }
}